services:
  backend:
    restart: always
    environment:
      - ENVIRONMENT=production
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G

  worker:
    restart: always
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G

  frontend:
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

  redis:
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 256M

  presidio:
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M


